@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --purple-gourmet: #811FFF;
  --yellow-gourmet: #FFDB1F;
  --red-gourmet: #DF2B2B;
  --input-color: #F3F3F3;
}
